* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
header {
  display: flex;
  background-color: #564cf8;
  justify-content: space-around;
  color: #ffffff;
  height: 100px;
  align-items: center;
}

header .logo {
  font-family: "Poppins", sans-serif;
  margin: 0 230px 0 0;
}

header ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

header ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

header ul li a:hover {
  color: #d3d1fd;
}

/* Hero */
.hero-content {
  background-color: #564cf8;
  display: flex;
  color: #ffffff;
  padding-top: 64px;
  padding-bottom: 88px;
  height: 100%;
  margin: 0 auto;
}

.hero-content .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.content-left h1 {
  font-size: 54px;
  margin-bottom: 16px;
  line-height: 126%;
}

.content-left .hero-paragraph {
  margin-bottom: 16px;
}

.hero-btn {
  margin-top: 32px;
}

.hero-btn .btn {
  text-decoration: none;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 10px;
  background-color: #f580f7;
  cursor: pointer;
}

.hero-btn .btn-primary {
  text-decoration: none;
  color: #564cf8;
  padding: 16px 32px;
  border-radius: 10px;
  background-color: #cae062;
  margin-left: 16px;
}

.content-right {
  display: flex;
}

.content-right img {
  width: 670px;
  height: auto;
}

/* about page */
.about-page {
  background-color: #1c1c1c;
  padding-top: 64px;
  padding-bottom: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-page .container {
  display: flex;
  justify-content: space-around;
  max-width: 1180px;
  margin: 0 auto;
}

.about-page .title-about {
  display: flex;
  height: 100%;
  width: 58%;
  margin: 0 330px 0 0;
}

.about-page .title-about h1 {
  font-size: 46px;
  color: white;
  margin-bottom: 62px;
  line-height: 126%;
}

.cards1 {
  width: 600px;
  margin: 10px;
  background-color: #c1fd42;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
}

.cards2 {
  width: 600px;
  margin: 10px;
  background-color: #f982fb;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
}

.cards3 {
  width: 600px;
  margin: 10px;
  background-color: #a59fff;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
}

.card-img img {
  width: 80%;
  margin: 12px 0 0 44px;
}

.card-body h4 {
  padding: 28px 0 0 28px;
  text-transform: uppercase;
  width: 50%;
  font-size: 20px;
  line-height: 24px;
}

.card-body p {
  margin: 16px 0 0 28px;
  width: 64%;
  font-size: 16px;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -42px 0 0 0;
}

.card-footer a {
  padding: 12px 24px 12px 24px;
  background-color: #1c1c1c;
  list-style: none;
  text-decoration: none;
  border-radius: 30px;
  color: #cae062;
  cursor: pointer;
}

/* Case Study Page */
.studycase-page {
  display: flex;
  background-color: #1c1c1c;
  padding-top: 64px;
  padding-bottom: 88px;
  color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title-studycase {
  display: flex;
  flex-direction: column;
  width: 56%;
  margin: 0 350px 0 0;
}

.title-studycase h1 {
  font-size: 46px;
  margin-bottom: 16px;
}

.title-studycase p {
  font-size: 16px;
  width: 58%;
  margin-bottom: 16px;
}

.studycase-page .container {
  display: flex;
}

.main-case {
  display: flex;
  max-width: 1180px;
  margin: 0 0 0 136px;
  flex-wrap: wrap;
}

.case-content {
  height: 140px;
  width: 34%;
  background-color: #f982fb;
  margin: 1px 1px 0 0;
  padding: 16px;
  color: #1c1c1c;
}

.case-content h3 {
  font-size: 36px;
  padding: 20px 0 4px 12px;
}

.case-content p {
  font-size: 14px;
  width: 80%;
  padding: 0 0 0 12px;
}

.main-card {
  display: flex;
  flex-direction: column;
  margin: -130px 0 0 0;
}

.case-card {
  border-radius: 14px;
  display: flex;
  background-color: #2e2e2e;
  width: 52%;
  padding: 20px 14px 20px 28px;
  margin: 6px;
}

.case-body {
  display: flex;
  align-items: center;
}

.case-body h3 {
  font-size: 36px;
  padding-right: 16px;
}

.case-body p {
  width: 100%;
  font-size: 14px;
  text-align: left;
}

/* Portfolio Page */

.portfolio-page {
  padding-top: 64px;
  padding-bottom: 88px;
  display: flex;
  background-color: #c1fd42;
  flex-direction: column;
}

.title-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-portfolio h1 {
  font-size: 46px;
  color: #ffffff;
  width: 68%;
  margin-bottom: 46px;
}

.portfolio-content {
  display: flex;
  justify-content: space-around;
}

.portfolio-content .container {
  display: flex;
  height: 800px;
}

.card-portfolio {
  display: flex;
  flex-direction: column;
  width: 16%;
  height: 52%;
  background-color: #574efa;
  padding: 28px;
  border-radius: 28px;
  margin-top: 50px;
}

.card-portfolio h3 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 16px;
}

.card-portfolio p {
  font-size: 16px;
  padding-bottom: 100px;
}

.img-card img {
  width: 34%;
  border-radius: 28px;
}

/* cobaaaaaaaaaa */
.card-container {
  width: 400px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Responsive Breakpoint */

/* Tablet Screen */
@media only screen and (max-width: 768px) {
  header ul {
    width: 50%;
  }
}

/* Tablet Screen */
@media only screen and (max-width: 320px) {
  header ul {
    display: none;
  }
}
